html,body{
	width: 100%;
}
/*iconfont*/
.iconfont{
	font-size: 16px;
	color: #ffb582;
}

.iconfont1{
	font-size: 16px;
	color: #737373;
}
/*居中样式公共*/
.top_nav_inner,.nav_inner,.nav_inner_bottom,.little_path_inner,.products_datails_inner,.main_inner,.knowledge_inner,.floor_1_inner,.floor_2_inner,.footer_nav_inner,.footer_server_inner,.footer_help_inner,.auth_inner,.footer_inner{
	width: 1200px;
	margin: 0 auto;
}

/*顶部导航栏*/
.top_nav{
	background-color: #f2f2f2;
	border-bottom: 1px solid #e6e6e6;
}

.top_nav_inner{
	height: 34px;
	line-height: 34px;
	/*overflow: hidden;*/
}
/*顶部导航左边*/
.top_nav_inner_left{
	float: left;
}

.top_nav_inner_left li{
	float: left;
	padding: 0 19px;
}

/*关注微信*/
.focus_wechat{
	position: relative;
	cursor: pointer;
}

.focus_wechat:hover .check_wechat{
	display: block;
}

.focus_wechat:hover a{
	text-decoration: none;
	color: #FF6A00;
}

.check_wechat{
	position: absolute;
	height: 200px;
	width: 156px;
	border: 1px solid #cecece;
	border-top: none;
	background: #FFFFFF;
	left: -1px;
	top: 35px;
	text-align: center;
	display: none;
	z-index: 1000;
}

.check_wechat img{
	margin: 18px 18px 10px 18px;
}

.check_wechat p{
	line-height: 20px;
}

/*下载app*/
.download_app{
	position: relative;
	cursor: pointer;
}

.download_app:hover .check_download{
	display: block;
}

.download_app:hover a{
	text-decoration: none;
	color: #FF6A00;
}

.check_download{
	position: absolute;
	height: 200px;
	width: 156px;
	border: 1px solid #cecece;
	border-top: none;
	background: #FFFFFF;
	left: -1px;
	top: 35px;
	text-align: center;
	display: none;
	z-index: 1000;
}

.check_download img{
	margin: 18px 18px 10px 18px;
}

.check_download p{
	line-height: 20px;
}

/*顶部导航右边*/
.top_nav_inner_right{
	float: right;
	/*overflow: hidden;*/
}

.top_nav_inner_right li{
	float: left;
}

.top_nav_inner_right li a{
	padding: 0 9px;
	border-right: 1px solid #d9d9d9;
	
}
/*顶部导航hover公共*/
.navhover:hover{
	background: #FFFFFF;
}
/*我的花礼*/
/*-------------------------------------------------*/
.myself:hover{
	/*background: #FFFFFF;*/
}

.myself:hover a{
	text-decoration: none;
	color: #ff8400;
}
/*客户服务*/
/*-------------------------------------------------*/
.customer{
	position: relative;	
}

.customer a:nth-child(1){
	padding-right: 0;
	border-right:0;	
}

.customer a:nth-child(2){
	padding-left: 0;
	font-size: 13px;
	color: #d9d9d9;
}

.customer:hover .check_order{
	display: block;
}

.customer:hover a{
	text-decoration: none;
	color: #ff8400;
}

.customer:hover .iconfont{
	color: #ff8400;
}
/*客户服务下拉菜单*/
.check_order{
	position: absolute;
	background: #FFFFFF;
	border: 1px solid #e9e9e9;
	border-top: none;
	display: none;
	padding: 5px 18px 18px 18px;
}

.check_order p{
	line-height: 20px;
	cursor: pointer;
}
.check_order p:hover{
	text-decoration: underline;
	color: #FF6A00;
}


/*-------------------------------------------------*/
/*购物车*/
.shoppingcar{
	position: relative;
}

.shoppingcar:hover .check_shoppingcar{
	display: block;
}

.shoppingcar:hover a{
	text-decoration: none;
	color: #ff8400;
}

.shoppingcar:hover .iconfont{
	color: #ff8400;
}

.shoppingcar a:nth-child(1){
	padding-right: 0;
	border-right:0;
	color: #ff8400;
	font-size: 16px;
	text-decoration: none;
}

.shoppingcar a:nth-child(2){
	padding: 0;
	border-right:0;
	
}

.shoppingcar a:nth-child(3){
	padding-left: 0;
	font-size: 13px;
	color: #d9d9d9;
}

.check_shoppingcar{
	position: absolute;
	height: 124px;
	width: 318px;
	border: 1px solid #cecece;
	border-top: none;
	right: 0;
	display: none;
	background: #FFFFFF;
}

.check_shoppingcar p{
	margin: 50px 60px;
}
/*-------------------------------------------------*/
.top_nav_inner_right li:last-child{
	padding-left: 9px;
}

/*导航栏*/
.nav{
	height: 117px;
	background: #FFFFFF;
}
/*导航栏上*/
.nav_inner_top{
	height: 117px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*导航栏上左*/
.nav_inner_top .left{
	overflow: hidden;
	height: 64px;
}

.nav_inner_top .left .logo{
	width: 220px;
	height: 64px;
	background: url(../../img/logo.png) no-repeat;
	display: block;
	float: left;
	padding-right: 12px;
}

.nav_inner_top .left h2{
	width: 122px;
	height: 36px;
	float: left;
	border-left: 1px solid #d9d9d9;
	background: url(../../img/background_img.png) no-repeat;
	background-position-x: -285px;
	margin-top: 12px;
	padding-left: 12px;
}

/*导航栏上中*/
.nav_inner_top .center{
	height: 66px;
	overflow: hidden;
}
/*搜索框*/
.serach{
	overflow: hidden;
}

.serach input{
	width: 237px;
	height: 32px;
	border: 1px solid #ff6a00;
	border-right: none;
	float: left;
	text-indent: 7px;
	outline: none;
}

.serach button{
	width: 82px;
	height: 36px;
	background: #ff6a00;
	border: 0;
	color: #FFFFFF;
	float: left;
}  

.serach_bottom{
	padding-top: 8px;
	padding-left: 0;
}

.serach_bottom a{
	padding-right: 5px;
	border-right: 1px solid #d9d9d9;
}

.serach a:nth-child(1){
	padding-left: 0;
}

/*导航栏上右*/
.nav_inner_top .right{
	height: 31px;
}

.nav_inner_top .right b{
	display: inline-block;
	height: 25px;
	text-align: right;
	line-height: 25px;
	background: url(../../img/icon_01.png) no-repeat;
	width: 108px;
	background-position-x: 0;
	background-position-y: 0;
	padding-left: 20px;
	padding-right: 25px;
	border-right:1px solid #d9d9d9;
	font-size: 15px;
	font-weight: 900;
	text-decoration: none;
}


.nav_inner_top .right a{
	display: inline-block;
	height: 25px;
	text-align: right;
	line-height: 25px;
	margin-left: 25px;
	width: 88px;
	background: url(../../img/icon_02.png) no-repeat;
	background-position-x: 0;
	background-position-y: 0;
}

/*导航栏下*/
.nav_inner_bottom{
	height: 34px;
	position: relative;
}
/*导航列表*/
.products_list{
	position: absolute;
	top: 0px;
	z-index: 999;
}

.guide{
	width: 212px;
	height: 40px;
	background: #ff6a00;
	font-size: 14px;
	line-height: 40px;
	padding-left: 15px;
	color: #FFFFFF;
}
.guide_list{
	border: 2px solid #ff6a00;
	display: none;
	position: absolute;
	top: 38px;
	width: 222px;
	padding: 10px 0;
	background: #FFFFFF;
}
/*竖向菜单*/
.products_menu{
	padding: 0 20px;
}

.products_menu dt{
	font-size: 14px;
	color: #ff6a00;
	font-weight: bolder;
	overflow: hidden;
	padding-top: 10px;
}

.products_menu dd:last-child{
	padding-bottom: 10px;
	border-bottom: 1px solid #e9e9e9;
}

.products_menu dd{
	margin-top: 7px;
}

/*横向菜单*/
.nav_bottom{
	height: 40px;
	background: #fe7a24;
}
.nav_list{
	overflow: hidden;
}

.nav_list li{
	float: left;
	line-height: 40px;
	font-size: 14px;
	padding: 0 24px;
	font-weight: bolder;
	cursor: pointer;
	color: #FFFFFF;
}

.nav_list li:hover{
	background: #ff8833;	
}

.nav_list li:nth-child(1){
	margin-left: 250px;
}
/*小路径*/
.little_path_inner{
	padding: 10px 0;
	font-size: 14px;
	color: #FF6A00; 	
}
/*商品信息*/
.products_datails_inner{
	
}
.main_top{
	border: 1px solid #d9d9d9;
	padding: 30px;
	margin-bottom: 40px;
	display: flex;
	height: 742px;
}
.products_datails_inner_l{
	height: 557px;
	width: 520px;
	margin: 0 35px;
}
.banner_list{
	position: relative;
	height: 557px;
	width: 520px;
}
.banner_list .products_dbig_01{
	height: 557px;
	width: 520px;
	background: url(../../img/product_dbig_01.jpg) no-repeat;
	position: absolute;
	opacity: 1;
}

.banner_list .products_dbig_02{
	height: 557px;
	width: 520px;
	background: url(../../img/product_dbig_02.jpg) no-repeat;
	position: absolute;
	opacity: 0;
}

.banner_list .products_dbig_03{
	height: 557px;
	width: 520px;
	background: url(../../img/product_dbig_03.jpg) no-repeat;
	position: absolute;
	opacity: 0;
}
.banner_list .products_dbig_04{
	height: 557px;
	width: 520px;
	background: url(../../img/product_dbig_04.jpg) no-repeat;
	position: absolute;
	opacity: 0;
}

.banner_list button{
	position: absolute;
	height: 33px;
	width: 19px;
	border: none;
	color: #FFFFFF;
	background: url(../../img/background_img.png);
	background-position-y: -46px;
	left: 36px;
	top: 200px;
	opacity: 0;
	z-index: 998;
	cursor: pointer;
	outline: none;
	z-index: 1002;
}
.banner_list .left{
	background-position-x: -345px;
}
.banner_list .left:hover{
	opacity: 1;
}
.banner_list .right{
	left: 400px;
	background-position-x: -302px;
}
.banner_list .right:hover{
	opacity: 1;
}

.select_point{
	position: absolute;
	display: flex;
	justify-content: flex-start;
	width: 520px;
	top: 480px;
	
}
.select_point p{
	border: 1px solid #C9C9C9;
	margin: 0 10px;
}
.select_point .choice{
	border-color: red;
}
.products_datails_inner_r .title{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #d9d9d9;
}
.products_datails_inner_r .title b{
	font-size: 16px;
	font-weight: bolder;
	
}

.products_datails_inner_r .title p{
	font-size: 16px;
	color: #FF6A00;
	margin-top: 7px;
}
.products_datails_inner_r  .concent{
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #d9d9d9;
}
.products_datails_inner_r  .concent dl{
	display: flex;
	margin: 12px 0;
	color: #666666;
}
.products_datails_inner_r  .concent dl dt{
	margin-right: 30px;
}
.products_datails_inner_r  .pri{
	padding: 10px 16px 5px;
	height: 28px;
	font-size: 14px;
	margin-bottom: 8px;
}
.products_datails_inner_r  .pri p:first-child{
	text-decoration: line-through;
}
.products_datails_inner_r  .pri p span{
	color: #FF6A00;
	font-size:20px ;
	font-weight: bolder;
}
.products_datails_inner_r .buy {
	display: flex;
	align-items: center;
}
.products_datails_inner_r .buy button{
	width: 156px;
	height: 41px;
	padding: 8px 25px;
	color: #FFFFFF;
	background: #FF6A00;
	font-size: 16px;
	border: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.products_datails_inner_r .buy button span{
	display: block;
	width: 24px;
	height: 24px;
	background: url(../../img/background_img.png);
	background-position-x: -306px;
	background-position-y: -285px;
}
.products_datails_inner_r .buy .icon_05{
	display: block;
	height: 16px;
	width: 16px;
	background: url(../../img/background_img.png);
	background-position-x: -286px;
	background-position-y: -318px;
	margin-left: 30px;
	margin-right: 15px;
}
.products_datails_inner_r .buy a{
	font-size: 14px;
}
.banner_list .ori{
	height: 469px;
	width: 430px;
	position: absolute;
	z-index: 1000;
}
.banner_list .ori .small{
	width: 100px;
	height: 100px;
	background: lightcoral;
	opacity: .2;
	display: none;
	position: absolute;
}
.banner_list .ori .move{
	height: 100%;
	background: orange;
	opacity: 0;
	
}
.banner .big{
	width: 300px;
	height: 300px;
	background: url(../../img/product_dbig_01.jpg) no-repeat;
	display: none;
	position: absolute;
	left: 450px;
	z-index: 1001;
}

.products_datails_inner_r .share{
	margin-top: 80px;
	color: #666666;
	overflow: hidden;
}
.products_datails_inner_r .share button{
	height: 24px;
	padding-left: 19px;
	margin: 6px 6px 6px 0;
	background: url(../../img/icons_0_24.png) no-repeat;
	border: none;
	display: block;
	float: left;
}
.products_datails_inner_r .share button:hover{
	opacity: .8;
}
.products_datails_inner_r .share .first{
	background-position-y: -2444px;
}
.products_datails_inner_r .share .qq{
	background-position-y: -2652px;
}
.products_datails_inner_r .share .wc{
	background-position-y: -1612px;
}
.products_datails_inner_r .share .sina{
	background-position-y: -104px;
}
.products_datails_inner_r .share .tc{
	background-position-y: -260px;
}
.products_datails_inner_r .share .more{
	width: 70px;
}
/*主体*/
.main_inner{
	display: flex;
	justify-content: space-between;
}
.main_inner_left .history{
	width: 208px;
	height: 72px;
	border: 1px solid #cecece;
	margin-bottom: 20px;
}
.main_inner_left .history p:first-child{
	padding: 8px 0;
	border-bottom: 1px solid #cecece;
	text-align: center;
	background: #ffe8d9;
	font-size: 14px;
}
.main_inner_left .history p:last-child{
	padding: 9px 10px;
	height: 20px;
	font-size: 14px;
}
.main_inner_left .hot{
	border: 1px solid #cecece;
	width: 208px;
}
.main_inner_left .hot .hotsell{
	padding: 8px 0;
	border-bottom: 1px solid #cecece;
	text-align: center;
	background: #ffe8d9;
	font-size: 14px;
}
.main_inner_left .hot .main_left_hot_list{
	padding: 10px 9px;
}
.main_inner_left .hot .main_left_hot_list .lib{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #cecece;
}
.main_inner_left .hot .main_left_hot_list .lib:last-child{
	border-bottom: none;
}
.main_inner_left .hot .main_left_hot_list img{
	width: 180px;
	height: 196px;
}
.main_inner_left .hot .main_left_hot_list a{
	padding: 10px 0;
	display: block;
}
.main_inner_left .hot .main_left_hot_list span{
	color: #FF6A00;
	margin-bottom: 8px;
	display: block;
	font-size: 14px;
	font-weight: bolder;
	text-align: center;
}

.main_inner_right .selec_list{
	/*overflow: hidden;*/
	height: 33px;
	border-bottom: 1px solid #666666;
	position: relative;
	z-index: 1001;
	background: #FFFFFF;
	width: 970px;
}
.main_inner_right .selec_list span{
	float: left;
	width: 108px;
	height: 1px;
	background: #FFFFFF;
	position: absolute;
	top: 33px;
	left: 0px;
	display: none;
}
.main_inner_right .selec_list span:nth-child(1){
	display: block;
}
.main_inner_right .selec_list span:nth-child(2){
	left: 107px;
}
.main_inner_right .selec_list span:nth-child(3){
	left: 214px;
}
.main_inner_right .selec_list span:nth-child(4){
	left: 321px;
}
.main_inner_right .selec_list li{
	float: left;
	padding: 8px 25px;
	font-size: 14px;
	border-left: 1px solid #cecece;
	border-top: 1px solid #cecece;
	cursor: pointer;
}
.main_inner_right .selec_list li:nth-child(8){
	border-right: 1px solid #cecece;
}
.main_inner_right .selec_list p{
	float: right;
	color: #FF6A00;
	font-size: 14px;
	font-weight: bolder;
	display: none;
}
.main_inner_right .selec_list p button{
	width: 96px;
	height: 27px;
	background: #FF6A00;
	border: none;
	color: #FFFFFF;
	margin-left: 20px;
}
.main_inner_right .selec_list .select{
	border-top-color: #666666;
}
.main_inner_right .pro_mess{
	padding: 20px;
	border: 1px solid #CECECE;
	border-top: none;
	width: 928px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;
}

.main_inner_right .evaluate{
	padding: 20px;
	border: 1px solid #CECECE;
	width: 928px;
	margin-bottom: 30px;
}
.main_inner_right .person_eva{
	overflow: hidden;
	border-bottom: 1px dashed #CECECE;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.main_inner_right .evaluate_l{
	float: left;
}
.main_inner_right .evaluate_r{
	float: right;
	overflow: hidden;
	width: 778px;
	
}
.main_inner_right .evaluate_rt{
	border-bottom: 1px solid #cecece;
	padding-bottom: 8px;
	margin-bottom: 8px;
}
.main_inner_right .evaluate_l dl dt img{
	width: 56px;
	height: 61px;
	border: 1px solid #cecece;
	margin-bottom: 6px;
}
.main_inner_right .evaluate_l dl dd{
	color: #CECECE;
}
.main_inner_right .evaluate_rl{
	float: left;
}
.main_inner_right .evaluate_rl p span{
	display: inline-block;
	height: 12px;
	width: 12px;
	background: url(../../img/star.gif);
}
.main_inner_right .evaluate_rr{
	float: right;
}

.main_inner_right .qusetion{
	padding: 20px;
	border: 1px solid #CECECE;
	width: 928px;
	margin-bottom: 30px;
}
.main_inner_right .qusetion dl{
	padding-bottom: 30px;
}
.main_inner_right .qusetion dl dt{
	color: #509207;
}

.main_inner_right .promise{
	padding: 20px;
	border: 1px solid #CECECE;
	width: 928px;
	height: 498px;
	margin-bottom: 30px;
	position: relative;
}
.main_inner_right .promise .select_point1{
	display: flex;
	justify-content: space-around;
}
.main_inner_right .promise .select_point1 a{
	text-align: center;
}
.main_inner_right .promise .select_point1 a:hover{
	text-decoration: none;
}
.main_inner_right .promise .select_point1 a span{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: block;
	margin-bottom: 10px;
	background: url(../../img/server_z.png);
}
.main_inner_right .promise .select_point1 a:first-child{
	color: #FF6A00;
}
.main_inner_right .promise .select_point1 a:first-child span{
	background-position-y: -60px;
}

.main_inner_right .promise .select_point1 a:nth-child(2) span{
	background-position-x: -60px;
}
.main_inner_right .promise .select_point1 a:nth-child(3) span{
	background-position-x: -120px;
}
.main_inner_right .promise .select_point1 a:nth-child(4) span{
	background-position-x: -180px;
}
.main_inner_right .promise .select_point1 a:nth-child(5) span{
	background-position-x: -240px;
}
.main_inner_right .promise .select_point1 a:nth-child(6) span{
	background-position-x: -300px;
}

.main_inner_right .promise .pro_list .pro_01{
	background: url(../../img/server_01.jpg) no-repeat;
	width: 910px;
	height: 350px;
	top: 130px;
	opacity: 1;
	position: absolute;
}
.main_inner_right .promise .pro_list .pro_02{
	background: url(../../img/server_02.jpg) no-repeat;
	width: 910px;
	height: 350px;
	top: 130px;
	opacity: 0;
	position: absolute;
}
.main_inner_right .promise .pro_list .pro_03{
	background: url(../../img/server_03.jpg) no-repeat;
	width: 910px;
	height: 350px;
	top: 130px;
	opacity: 0;
	position: absolute;
}
.main_inner_right .promise .pro_list .pro_04{
	background: url(../../img/server_04.jpg) no-repeat;
	width: 910px;
	height: 350px;
	top: 130px;
	opacity: 0;
	position: absolute;
}
.main_inner_right .promise .pro_list .pro_05{
	background: url(../../img/server_05.jpg) no-repeat;
	width: 910px;
	height: 350px;
	top: 130px;
	opacity: 0;
	position: absolute;
}
.main_inner_right .promise .pro_list .pro_06{
	background: url(../../img/server_06.jpg) no-repeat;
	width: 910px;
	height: 350px;
	top: 130px;
	opacity: 0;
	position: absolute;
}

/*尾部导航*/
.footer_nav_inner ul{
	padding: 30px 110px;
	
}

.footer_nav_inner ul li{
	float: left;
}

.footer_nav_inner ul li a{
	padding: 0 32px;
	border-right: 1px solid #e9e9e9;
}

.footer_nav_inner ul li:last-child a{
	border: none;
}
/*网站信息*/
.auth_inner_img{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.auth_bottom p span:last-child img{
	display: inline-block;
}

.auth_bottom p:last-child{
	margin-top: 10px;
}

.auth_bottom{
	width: 1200px;
	border-bottom: 2px solid #dcdcdc;
	padding: 20px 0;
	text-align: center;
}